* {
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

p:last-of-type {
  margin-bottom: 0;
}

img {
  max-height: 100vh;
  max-width: 100%;
}

p img {
  margin-bottom: -.41em;
}

ul,
ol {
  list-style-position: outside;
  margin-left: 1em;
}

ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

table {
  display: block;
  width: 100%;
  overflow: auto;
}

table tr {
  background-color: #FFF;
  border-top: 1px solid #C6CBD1;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #DFE2E5;
}

table th {
  text-align: left;
  font-weight: 600;
}

table tr:nth-child(2n) {
  background-color: #F6F8FA;
}

code {
  counter-reset: line;
  margin-left: 2em;
  display: inline-block;
}

code > span {
  padding-left: 1em;
  min-height: 1.1em;
  display: inline-block;
}

code > span:before {
  counter-increment: line;
  content: counter(line) ".";
  text-align: right;
  display: block;
  position: absolute;
  left: 0;
  width: 1em;
  padding: 0 .5em;
  margin-right: .5em;
  color: #888;
}

.wrapper {
  height: 100vh;
  width: 100%;
}
