{
  "presets": [
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "config": "./config",
        "constants$": "src/constants/index.js"
      }
    }]
  ],
  "env": {
    "development": {
      "presets": [
        ["env", { "modules": false, "targets": { "browsers": ["last 2 versions", "> 5%"] } }]
      ],
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "presets": [
        ["env", { "targets": { "browsers": ["last 2 versions", "> 5%"] } }]
      ]
    },
    "production": {
      "presets": [
        ["env", { "targets": { "browsers": ["last 2 versions", "> 5%"] } }]
      ],
      "plugins": ["ramda", "lodash"]
    }
  }
}
