{
  "extends": ["standard", "standard-react", "plugin:flowtype/recommended"],
  "plugins": ["flowtype"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
