.slide {
  height: 100vh;
  width: 100vw;
  color: #FAFAFA;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  background: #1B2B34;
}

.code {
  transition: opacity .2s ease-in-out;
  transform: scale(1) translateY(10px);
}

/* stylelint-disable-next-line selector-class-pattern */
:global .slide-code-appear {
  opacity: .01;
}

/* stylelint-disable-next-line selector-class-pattern */
:global .slide-code-appear.slide-code-appear-active {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

/* stylelint-disable-next-line selector-class-pattern */
:global .slide-code-enter {
  opacity: .01;
}

/* stylelint-disable-next-line selector-class-pattern */
:global .slide-code-enter.slide-code-enter-active {
  opacity: 1;
  transition: opacity .2s ease-in-out;
}

/* stylelint-disable-next-line selector-class-pattern */
:global .slide-code-leave {
  opacity: 1;
}

/* stylelint-disable-next-line selector-class-pattern */
:global .slide-code-leave.slide-code-leave-active {
  opacity: .01;
  transition: opacity .2s ease-in-out;
}
