.progressBar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #56A9F6;
  z-index: 1000;
  overflow: hidden;
  transition: transform .2s ease-out;
}
